---
ref: home
layout: video-layout
title: "Ιόνιο Πανεπιστήμιο"
header:
  video:
    source: "dUsAnW1zYqc"
    playlist: "dUsAnW1zYqc"
  cta_label: "<i class='fa fa-download'></i> Οδηγός Σπουδών 2020 - 2021"
  cta_url: "https://ionio.gr/download.php?f=00001-00999/IU-pf-00754-97938-gr.pdf"
  caption:
excerpt: 'Η δράση του Τμήματος Πληροφορικής είναι προσανατολισμένη σε καινοτόμες εφαρμογές στις κατευθύνσεις των:<br /> <small><a href="/humanistic">Ανθρωπιστικών-Κοινωνικών Επιστημών </a></small><br /> <small><a href="/systems">Πληροφοριακών Συστημάτων </a></small><br /><br />'
feature_row:
  - url: "/posts/"
    btn_label: "Learn More"
  - url: "/projects/"
    btn_label: "Learn More"
github:
  - excerpt: ''
intro:
  - excerpt: ''
---


  {% include dynamic.html id="posts" category="Posts" index=0 %}

  {% assign random = site.time | date: "%s%N" | modulo: site.projects.size %}

  {% include dynamic.html id="projects" category="Projects" index=random %}

  {% include twitter-module.html %}

  {% include feature_row %}
