{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}
{% else %}
  {% assign author = site.author %}
{% endif %}

<div itemscope itemtype="http://schema.org/Person">

  {% if author.avatar %}
    <div class="author__avatar">
      {% if author.avatar contains "://" %}
        <img src="{{ author.avatar }}" alt="{{ author.name }}" itemprop="image">
      {% else %}
        <img src="{{ author.avatar | absolute_url }}" class="author__avatar" alt="{{ author.name }}" itemprop="image">
      {% endif %}
    </div>
  {% endif %}

  <div class="author__content">
    <h3 class="author__name" itemprop="name"><a href="{{site.url}}/{{site.baseurl}}/{{page.lang}}/faculty/{{ page.author | remove: '-en' }}">{{ author.name }}</a> </h3>
  </div>

      {% include author-profile-custom-links.html %}
      
    </ul>
  </div>
</div>
