<p class="page__taxonomy">
  <strong><i class="fa fa-fw fa-folder-open" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].categories_label | default: "Categories:" }} </strong>
  <span itemprop="keywords">
      {% if page.lang == 'gr' %}{% assign courses = site.courses %}{% else %}{% assign courses = site.courses-en %}{% endif %}
      {% for course in courses %}
        {% if course.author == page.author %}
          <a href="{{ site.baseurl }}{{ course.url }}" class="page__taxonomy-item" rel="tag">{{ course.title }}</a>
        {% endif %}
      {% endfor %}
      {% if page.lang == 'gr'%}{% assign groups = site.groups %}{% else %}{% assign groups = site.groups-en %}{% endif %}
        {% for group in groups %}
          {% for member in group.members %}
          {% if member == page.author %}
            <a href="{{ site.baseurl }}{{ group.url }}" class="page__taxonomy-item" rel="tag">{{ group.title }}</a>{% unless forloop.last %}<span class="sep">, </span>{% endunless %}
          {% endif %}
        {% endfor %}
      {% endfor %}
  </span>
</p>

