{% if page.ref == 'faculty' %}
  {% if page.lang == 'en' %}
    {% assign posts = site.faculty-en %}
  {% else %}
    {% assign posts = site.faculty %}
  {% endif %}
{% elsif page.ref == 'administrative-assistants' %}
  {% if page.lang == 'en' %}
    {% assign posts = site.administrative-assistants-en %}
  {% else %}
    {% assign posts = site.administrative-assistants %}
  {% endif %}
{% endif %}
{% for post in posts %}
  {% if post.rank == include.r %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}
