{% if page.lang == 'en' %}
  {% assign posts = site.faculty-en | sort: "rank" %}
{% else %}
  {% assign posts = site.faculty | sort: "rank" %}
{% endif %}

{% assign counter = 'false' %}
{% assign counter2 = 'false' %}
{% assign counter3 = 'false' %}

{% for post in posts %}
  {% if page.lang=='gr' %} 
    {% if post.rank == 1 and counter != 'true' %}
      <h3>Καθηγητές</h3> 
      {% assign counter = 'true' %}
    {% endif %}
    {% if post.rank == 2 and counter2 != 'true' %}
      <h3>Αναπληρωτές Καθηγητές</h3> 
      {% assign counter2 = 'true' %}
    {% endif %}
    {% if post.rank  == 3 and counter3 != 'true' %}
      <h3>Επίκουροι Καθηγητές</h3> 
      {% assign counter3 = 'true' %}
    {% endif %}
  {% else %}
    {% if post.rank == 1 and counter != 'true' %}
      <h3>Καθηγητές</h3> 
      {% assign counter = 'true' %}
    {% endif %}
    {% if post.rank == 2 and counter2 != 'true' %}
      <h3>Αναπληρωτές Καθηγητές</h3> 
      {% assign counter2 = 'true' %}
    {% endif %}
    {% if post.rank  == 3 and counter3 != 'true' %}
      <h3>Επίκουροι Καθηγητές</h3> 
      {% assign counter3 = 'true' %}
    {% endif %}
    {% include archive-single.html %}
{% endfor %}

