---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.masthead {
  border-top: 5px solid $primary-color;
}

.archive__author-avatar {
  display: table-cell;
  vertical-align: top;
  width: 36px;
  height: 36px;

  @include breakpoint($large) {
    display: block;
    width: auto;
    height: auto;
  }

  img {
    max-width: 110px;
    border-radius: 50%;
  }

  img:hover{
    box-shadow: 0 0 10px rgba(#000, 0.25);
    transform: scale(1.1);
    transition: transform 0.2s;
  }
}

table {
  margin-bottom: 1em;
  width: 100%;
  font-family: $global-font-family;
  font-size: $type-size-7;
  border-collapse: collapse;
  border: 1px solid $border-color;
  border-bottom: 2px solid $primary-color;
  
  & + table {
  margin-top: 1em;
  }

  tr {
     &:hover {
      background: mix(#fff, $border-color, 25%);

      td {
        color: $text-color;
      }
    }
  }
  
  th, td {
    color: $muted-text-color;
    border: 1px solid mix(#000, $border-color, 25%);
    padding: 0.5em;
    border-collapse: collapse;
  }
  
  th {
    background: $primary-color;
    color: $background-color;
    &.last {
      border-right: none;
    }
  }
}

tr,
td,
th {
  vertical-align: middle;
}