/* ==========================================================================
   Cloud skin
   ========================================================================== */

/* Colors */
$background-color: #fdfdfd !default;
$text-color: #4f6367 !default;
$muted-text-color: #7a9e9f !default;
$primary-color: #7c9eb2 !default;
$border-color: mix(#fff, #4f6367, 75%) !default;
$footer-background-color: #7a9e9f !default;
$link-color: mix(#000, $primary-color, 20%) !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;
$form-background-color: transparent;
$border-color: transparent;

.masthead {
  border-top: 5px solid $primary-color;
}

.page__footer {
  color: #b8d8d8 !important; // override
}

.page__footer{
  footer{
    a {
      &:hover {
        color: #fff !important; // override
      }
    }
  }
}

.page__footer-follow .social-icons .fa {
  color: inherit;
}
